window {
    margin: 0px;
    border: none;
    background-color: transparent;
    border-radius: 12px;
    font-family: "RobotoMono Nerd Font";
}

#input {
    margin: 8px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: transparent;
    border-radius: 0px;
}

#outer-box {
    margin: 2px;
    border: 2px solid #b4befe;
    background-color: #1e1e2e;
    border-radius: 10px;
    padding: 6px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 8px;
    border: none;
    color: #cdd6f4;
    font-size: 13px;
}

#entry {
    padding: 6px;
}

#entry:selected {
    background-color: #313244;
    border-radius: 8px;
    outline: none;
}

#entry:selected #text {
    color: #b4befe;
}

#img {
    margin-right: 8px;
}
